@model PagedList.IPagedList<Download.Models.UserViewModel>
@using Download.Models;
@using PagedList.Mvc;



@{
    ViewBag.Title = "Index";
}

    <h2>All Users</h2>

    <table class="table table-hover" style="background-color: rgba(255, 255, 255, 0.50); border: 2px solid #ffffff">
        <tr style="border: 2px solid #ffffff">
            <th>
                @Html.Encode("User Name")
            </th>
            <th>
                @Html.Encode("Role")
            </th>
            <th>
                @Html.Encode("Email")
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                @foreach (var Role in item.roleNames)
                {
                    if (Role == "admin")
                    {
                        <td style="background-color: rgba(255, 0, 0, 0.50)">
                            @Role <br />
                        </td>
                    }
                    else if (Role == "member")
                    {
                        <td style="background-color: rgba(255, 141, 0, 0.50)">
                            @Role <br />
                        </td>
                    }
                    else
                    {
                        <td style="background-color: rgba(182, 255, 0, 0.50)">
                            @Role <br />
                        </td>
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @using (Html.BeginForm("MakeMember", "Users", new { id = item.Id }))
                    {
                        <input type="submit" value="Make Member" class="btn btn-primary" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("MakeAdmin", "Users", new { id = item.Id }))
                    {
                        <input type="submit" value="Make Admin" class="btn btn-primary" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Deactivate", "Users", new { id = item.Id }))
                    {
                        <input type="submit" value="Deactivate" class="btn btn-primary" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>

            </tr>
        }

    </table>

@*Dispaly no pagers on intial display of the page becuase no products are shown*@
@if (Model.PageCount > 0)
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @*If there is zero or one page, no need to display page links*@
        @if (Model.PageCount > 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        }
    </div>
}