@using Download.Models;
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Manage Account";
}
@*Default view*@
<h2>@ViewBag.Title.</h2>

<p class="text-success" style="background-color: rgba(255, 255, 255, 0.40)">@ViewBag.StatusMessage</p>
<div class="row" style="background-color: rgba(255, 255, 255, 0.25); border: 2px solid #ffffff">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    @Html.Partial("_ChangeEmailPartial")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
