@model Download.Models.ProductCreateView
@using Download.Models

@{
    ViewBag.Title = "Create";
    var per = (IEnumerable<SelectListItem>)ViewData["permissions"];
    var search = ViewData["search"];
    var pageNum = ViewData["page"];
    var message = TempData["message"];

}

<h2>Create Product</h2>

<div style="background-color: rgba(255, 255, 255, 0.23); border: 2px solid #ffffff" class="clearfix form-horizontal">
    @using (Html.BeginForm("Create", "Product", new { searchString = search, page = pageNum }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Product Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>
                    @Html.EditorFor(model => model.ProductName)
                    @Html.ValidationMessageFor(model => model.ProductName)   
                </p>

            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Select a .exe", new { @class = "control-label col-md-2" })
            <div class=" col-md-10">

                <input type="file" name="FileUpload1" />

            </div>

        </div>

        <div class="form-group">
            @Html.Label("Select an Installer", new { @class = "control-label col-md-2" })

            <div class=" col-md-10">

                <input type="file" name="FileUpload2" />

            </div>

        </div>

        <div class="form-group">
            @Html.Label("Select a ReadMe", new { @class = "control-label col-md-2" })

            <div class=" col-md-10">

                <input type="file" name="FileUpload3" />

            </div>

        </div>
        <div class="form-group">
            @Html.Label("Extra Files If needed", new { @class = "control-label col-md-2" })

            <div class=" col-md-10">

                <input type="file" name="FileUpload4" id="FileUpload4" multiple="multiple" /> (Descriptions to these files can be added after you press the create button)

            </div>

        </div>
        <div class="form-group">
            @Html.Label("Version Permissions", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VStatus", per)
                @Html.ValidationMessageFor(model => model.VersionStatus)
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>

        </div>

    }
    @Html.ActionLink("Back to List", "Index", new { searchString = search, page = pageNum })
</div>


@*Another Default thing*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
